@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lecturer";
}
<div class="text-center">
    <h1 class="display-4">lecturer</h1>
    <p> all users are listed here: @Model.Count</p>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Telefoon Number</th>
                <th>Age</th>
            </tr>

        </thead>
        <tbody>
            @{
                foreach (Lecturer lecturer in Model)
                {
                    <tr>
                        <td>@lecturer.First_Name</td>
                        <td>@lecturer.Last_Name</td>
                        <td>@lecturer.TelefoonNumber</td>
                        <td>@lecturer.Age</td>


                    </tr>


                }


            }

        </tbody>

    </table>

</div>
